*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    --cor01: #2483A3;
    --cor02: #35C1F0;
    --cor03: #7EDFEE;
    --cor04: #2B85C5; 
}


nav{
    padding: 8px 0px;
    outline: 1.5px solid black;
}

nav > ul{
    display: flex;
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

nav a{
    color: black;
}

nav > ul > li > a:hover{
    color: var(--cor02);
}

header {
    display: flex;
    align-items: center;
    height: 200px;
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor02));
    color: white;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    box-shadow: 1px 1px 2px black;
}

header > img {
    height: 120px;
    margin-right: 20px; 
}

header > div {
    text-align: center; 
    font-family: 'Kode Mono';
    flex-grow: 0.88; 
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

main > h1{
    margin-top: 30px;
    text-align: center;
    font-family: 'Kode Mono';
    justify-self: center;
}

main > section.cursos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

main > section.cursos > div {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: flex-end;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--cor04);
}

main > section.cursos > div > img{
    display: block;
    margin: 0px auto;
    height: 135px;
}

main > section.cursos > div > h1{
    font-size: 1.2em;
    font-family: 'Kode Mono';
    text-align: center;
}

main > section.cursos > div > p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
}



main > section.cursos > div > button{
    color: white;
    background-color: var(--cor04);
    border-radius: 8px;
    width: 100px;
    padding: 10px;
}

main > section.cursos > div > button:hover{
    background-color: var(--cor02);
}

main > section.cursos > div:hover{
    box-shadow: 1px 2.5px 3px black;
    transition: 0.3s ease;
}

footer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px;
    gap: 30px;
    margin-top: 30px;
    height: 150px;
    background-color: var(--cor01);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer > div{
    align-self: center;
    justify-self: center;
}

footer a{
    color: white;
}

footer > div > h1{
    font-size: 1.15em;
    text-align: center;
}

footer > div > p{
    text-align: center;
}

footer  img{
    margin-top: 8px;
    height: 30px;
}

footer > div#uso{
    display: flex;
    gap: 15px;
}

footer > div#uso > p{
    border-top: 1px solid white;
}

footer > div#trab{
    order: -1;
}

div#copy > img{
    height: 15px;
}